.splash-wrapper(
layout="column" 
layout-align="center center" 
ng-class="{'splash-dark':!$ctrl.metadata.display.isBright}")
  .section-toolbar(ng-hide="$ctrl.isPreview")
    edit-toolbar(ng-hide="$ctrl.isPreview")
      md-button.md-icon-button(
      ng-show="!$ctrl.metadata.thumbnail.imageUrl")
        input.hidden-input(
        type="file"
        ngf-select="$ctrl.uploadImage($file)"
        ngf-multiple="false"
        accept="image/*"
        ngf-resize="{width: 1920, height: 1500}")
        md-icon
          |photo
      md-menu(
      md-position-mode="target-right target" 
      ng-hide="!$ctrl.metadata.thumbnail.imageUrl")
        md-button.md-icon-button(
        ng-click="$ctrl.openMenu($mdOpenMenu, $event)")
          md-icon(md-menu-origin)|photo
        md-menu-content(width="4")
          md-menu-item
            md-button
              input.hidden-input(
              type="file"
              ngf-select="$ctrl.uploadImage($file)"
              ngf-multiple="false"
              accept="image/*"
              ngf-resize="{width: 1920, height: 1500}")
              div(layout="row" flex)
                span(flex)|Update Image
                md-icon.menu-right(md-menu-align-target)
                  |photo
                  
          md-menu-item
            md-button(
            ng-click="$ctrl.removeImage()")
              div(layout="row" flex)
                span(flex)|Delete Image
                md-icon.menu-right(md-menu-align-target)
                  |remove_circle
      
      md-menu(md-position-mode="target-right target")
        md-button.md-icon-button(
        ng-click="$ctrl.openMenu($mdOpenMenu, $event)")
          md-icon(md-menu-origin)|style
        md-menu-content(width="4")
          md-menu-item(ng-show="$ctrl.metadata.thumbnail.imageUrl")
            md-button(
            ng-click="$ctrl.metadata.display.hasBackgroundBlur = !$ctrl.metadata.display.hasBackgroundBlur; $ctrl.update()")
              div(layout="row" flex)
                span(flex)|{{$ctrl.metadata.display.hasBackgroundBlur?'Disable blur':'Enable blur'}}
                md-icon.menu-right(md-menu-align-target)|{{$ctrl.metadata.display.hasBackgroundBlur?'blur_off':'blur_on'}}
              
          md-menu-item
            md-button(
            ng-click="$ctrl.metadata.display.isBright = !$ctrl.metadata.display.isBright; $ctrl.update()")
              div(layout="row" flex)
                span(flex)|{{$ctrl.metadata.display.isBright?'Dark Layout':'Bright Layout'}}
                md-icon.menu-right(md-menu-align-target)|{{$ctrl.metadata.display.isBright?'brightness_3':'brightness_5'}}
  
  .container(
  layout="row" 
  layout-align="center center")
    .text(
    layout="column"
    layout-align="center center"
    flex="90"
    flex-sm="80"
    flex-gt-sm="45")
      .md-display-1.centerText(
      medium-editor 
      bind-options="{disableReturn: true, disableExtraSpaces: true, toolbar: false}"
      data-placeholder="Title"
      ng-model="$ctrl.metadata.title"
      ng-blur="$ctrl.update()")
      
      .separator
      
      .md-title.centerText(
      medium-editor 
      bind-options="$ctrl.wysiwygOptions"
      data-placeholder="Description"
      ng-model="$ctrl.metadata.description"
      ng-blur="$ctrl.update()")
      
      
  .background(
  ng-style="{backgroundImage: 'url('+$ctrl.metadata.thumbnail.imageUrl+')'}"
  ng-class="{'background-blur': $ctrl.metadata.display.hasBackgroundBlur}")