md-dialog(aria-label="Uploading")
  md-toolbar.md-whiteframe.2dp(style="z-index:3")
    .md-toolbar-tools
      h2|{{$ctrl.title}}
      div(flex)
      h2|{{$ctrl.progress.percentage | number : 0}}%
  md-dialog-content
    md-progress-linear(
    md-mode="determinate" 
    value="{{$ctrl.progress.percentage || 0}}")
    input(
    ng-show="false"
    ng-model="$ctrl.progress.percentage"
    ng-change="$ctrl.hide()")
  