.section-wrapper(
layout="column" 
layout-align="start center"
layout-align-gt-sm="center center"
ng-class="{'section-dark':!$ctrl.section.display.isBright, 'section-image-background': $ctrl.section.display.hasBackgroundImage || !$ctrl.section.content.image.imageUrl}")

  .container(
  layout="row"
  layout-align="center center" 
  layout-padding
  layout-margin
  layout-wrap)
    .text(
    flex="90"
    flex-sm="80"
    flex-gt-sm="45"
    flex-order="2"
    flex-order-gt-sm="1"
    ng-class="{'centerText': !$ctrl.section.content.image.imageUrl || $ctrl.section.display.hasBackgroundImage}")
      .md-headline(
      ng-bind="$ctrl.section.content.title")

      .separator(
      ng-show="$ctrl.section.content.title")

      .md-title(
      ng-bind-html="$ctrl.$s($ctrl.section.content.description)")
      
    .image(
    ng-if="$ctrl.section.content.image.imageUrl"
    ng-hide="$ctrl.section.display.hasBackgroundImage"
    flex="90"
    flex-sm="80"
    flex-gt-sm="45"
    flex-order="1"
    flex-order-gt-sm="2")
      img.fullWidth.md-whiteframe-2dp(
      ng-src="{{$ctrl.section.content.image.imageUrl}}")
      .image-caption(
      ng-show="$ctrl.section.content.imageCaption")
        .md-subhead(
        ng-bind="$ctrl.section.content.imageCaption")
    
  .background(
  ng-style="{backgroundImage: 'url('+$ctrl.section.content.image.imageUrl+')'}"
  ng-class="{'background-blur': $ctrl.section.display.hasBackgroundBlur, 'background-image': $ctrl.section.display.hasBackgroundImage}")