.editorWrapper(layout="column")
  wc-editor-nav(
  tao="$ctrl.tao" 
  doc="$ctrl.doc" 
  is-preview="$ctrl.isPreview")
  wc-editor-splash(
  metadata="$ctrl.doc.metadata"
  is-preview="$ctrl.isPreview"
  on-update="$ctrl.updateMetadata()",
  on-image-upload="$ctrl.uploadThumbnailImage()"
  on-image-remove="$ctrl.removeThumbnailImage()")
  wc-editor-sections(
  doc="$ctrl.doc"
  is-preview="$ctrl.isPreview"
  on-section-add="$ctrl.addSection()"
  on-section-remove="$ctrl.removeSection()"
  on-section-update="$ctrl.updateSection()"
  on-section-image-upload="$ctrl.uploadSectionImage()"
  on-section-image-remove="$ctrl.removeSectionImage()")
  wc-editor-footer(
  metadata="$ctrl.doc.metadata"
  on-update="$ctrl.updateMetadata()")