// Card View
md-card(md-theme="dashboard" layout="column")
  .topImg(
  ng-show="$ctrl.getDocMetadata($ctrl.metadata.languages.es).thumbnail.imageUrl"
  hide
  show-gt-sm
  ng-style="{backgroundImage: 'url('+$ctrl.getDocMetadata($ctrl.metadata.languages.es).thumbnail.imageUrl+')'}")
  md-card-title
    md-card-title-media(
    flex="nogrow"
    hide-gt-sm)
      .md-media-md.card-media.icon-controls-wrapper.backgroundImageCover(
      ng-style="{backgroundImage: 'url('+($ctrl.getDocMetadata($ctrl.metadata.languages.es).thumbnail.imageUrl ? $ctrl.getDocMetadata($ctrl.metadata.languages.es).thumbnail.imageUrl : 'https://firebasestorage.googleapis.com/v0/b/project-867618968114337534.appspot.com/o/assets%2Fdefault-placeholder.png?alt=media&token=b1183b4f-05c2-476c-a656-1f2250adf46f')+')'}")
    div(flex="5"
    hide-gt-sm)
    md-card-title-text(flex)
      div(style="width: 100%; position: absolute")
        a.md-headline.capitalize(ng-click="$ctrl.edit()")
          |{{$ctrl.getDocMetadata($ctrl.metadata.languages.es).title}}
        .md-body-1(ng-bind-html="$ctrl.$html($ctrl.getDocMetadata($ctrl.metadata.languages.es).description)")
  div(layout="row" layout-align="start" layout-padding)
    
    // Remove
    md-button.md-icon-button.md-primary(
    md-theme="db-light-btn"
    ng-disabled="$ctrl.isDisabled"
    ng-click="$ctrl.remove()")
      i.material-icons|delete
    
    // Archive
    md-button.md-icon-button.md-primary(
    md-theme="db-light-btn"
    ng-disabled="$ctrl.isDisabled"
    ng-click="$ctrl.archive()"
    ng-hide="$ctrl.metadata.isArchived")
      i.material-icons|archive
    
    div(flex)
    
    // Unarchive
    md-button.md-icon-button.md-hue-2.md-primary(
    ng-disabled="$ctrl.isDisabled"
    ng-click="$ctrl.unarchive()"
    ng-show="$ctrl.metadata.isArchived")
      i.material-icons|unarchive
    
    // Link
    md-button.md-icon-button.md-primary.md-hue-2(
    ng-disabled="$ctrl.isDisabled"
    ng-hide="$ctrl.metadata.isArchived"
    ng-link="['WebcatRender', {taoId: $ctrl.taoId}]")
      i.material-icons|link
    
    // Edit
    md-button.md-icon-button.md-primary.md-hue-2(
    ng-disabled="$ctrl.isDisabled"
    ng-click="$ctrl.edit()")
      i.material-icons|edit
    